<!DOCTYPE html>
<html>
<head>
  <style>
    /* Same styles as above */
  </style>
</head>
<body>
  <div class="container">
    <h1 class="header">Account Deleted</h1>
    <p>Dear <%= name %>,</p>
    <p>Your account has been deleted by an administrator.</p>
    <p>All your data has been permanently removed from our system.</p>
    <p>If you believe this was done in error, please contact our support team immediately.</p>
    <div class="footer">
      <p>Best regards,<br>Your Application Team</p>
    </div>
  </div>
</body>
</html>