<!DOCTYPE html>
<html>
<head>
  <style>
    /* Same styles as above */
  </style>
</head>
<body>
  <div class="container">
    <h1 class="header">Account Deactivated</h1>
    <p>Dear <%= name %>,</p>
    <p>Your account has been deactivated by an administrator.</p>
    <p>You will no longer be able to access the platform until your account is reactivated.</p>
    <p>If you believe this was done in error, please contact our support team.</p>
    <div class="footer">
      <p>Best regards,<br>Your Application Team</p>
    </div>
  </div>
</body>
</html>