<!DOCTYPE html>
<html>
<head>
    <title>Account Activated</title>
</head>
<body>
    <h1>Account Activated</h1>
    <p>Dear <%= name %>,</p>
    <p>Your lawyer account has been activated by the administrator. You can now receive client requests and appear in search results.</p>
    <p>If you have any questions, please contact our support team.</p>
    <p>Best regards,<br>The Legal Connect Team</p>
</body>
</html>