<!DOCTYPE html>
<html>
<head>
    <title>Account Deactivated</title>
</head>
<body>
    <h1>Account Deactivated</h1>
    <p>Dear <%= name %>,</p>
    <p>Your lawyer account has been deactivated by the administrator. You will no longer appear in search results or receive new client requests.</p>
    <p>If you believe this is an error or have any questions, please contact our support team.</p>
    <p>Best regards,<br>The Legal Connect Team</p>
</body>
</html>